<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coody.springbootdruid.dao.UserMapper">
    <resultMap type="user" id="BaseResultMap">
        <id column="id" property="id"/>
        <result column="user_name" property="username"/>
        <result column="pass_word" property="password"/>
    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
        select * from user
    </select>

    <select id="getById" parameterType="INTEGER" resultMap="BaseResultMap">
        select * from user where id=#{id}
    </select>
</mapper>